:root {
  --primary-color: #f19568;
  --secondary-color: #80f168;
  --tertiary-color: #68c4f1;
  --quaternary-color: #da68f1;
  --gray: #555;
}

html {
  background-color: var(--gray);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
